@model AboutDetailVM

@{
    ViewData["Title"] = "Detail";
}

<div class="container">


    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Pro1</th>
                    <th>Pro2</th>
                    <th>Pro3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.AboutTitle</td>
                    <td>@Model.AboutDesc</td>
                    <td>@Model.AboutPro1</td>
                    <td>@Model.AboutPro2</td>
                    <td>@Model.AboutPro3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="product-images justify-content-center">
        @foreach (var item in Model.AboutImages)
        {
            <div class="edit-image bg-light" style="width:400px;height:200px;">
                <img src="~/images/@item.Image" />
            </div>
            <br />
        }
    </div>
    

    <a asp-action="Index" asp-controller="About" class="btn btn-danger">Back</a>

</div>

