@model HomeVM


@{
    ViewData["Title"] = "Perukar Barber Shop";
}



@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        $(document).ready(function () {
            $('#kenburnsSliderContainer').vegas({
                slides: [
        @foreach (var item in Model.SliderImages)
        {
            @:{ src: "/images/@item.Image" },
        }
                        ],
                overlay: false,
                transition: 'fade2',
                animation: 'kenburnsUpRight',
                transitionDuration: 1000,
                delay: 10000,
                animationDuration: 20000
            });
        });


    </script>
}



@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/js/home.js"></script>
}


<section id="slider">
    <div class="barber-slider kenburns-section" id="kenburnsSliderContainer" data-overlay-dark="6">
        <div class="cover"></div>
        <div class="kenburns-inner">
            <div class="v-middle caption">
                <div class="container-main">
                    <div class="row">
                        <div class="texting col-md-8 text-center">
                            <h6>@Model.Sliders.FirstOrDefault().SliderTitle</h6>
                            <h1>@Model.Sliders.FirstOrDefault().SliderDescription</h1>
                            <h6>@Model.Settings["Address"]</h6>
                            <a href="#" class="appointment">Make Appointment<span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" data-scroll-index="1">
    <div class="container-main">
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <h6>Since 2006</h6>
                    <h3>@Model.About.Title</h3>
                </div>
                <p>@Model.About.Description</p>
                <ul class="list-about list-unstyled">
                    <li>
                        <div class="list-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <div class="list-text">
                            <p>@Model.About.Pro1</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <div class="list-text">
                            <p>@Model.About.Pro2</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <div class="list-text">
                            <p>@Model.About.Pro3</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="~/images/@Model.About.AboutImages.FirstOrDefault().Image" alt="" class="first-image">
            </div>
            <div class="col-md-3">
                <img src="~/images/@Model.About.AboutImages.Skip(1).Take(1).FirstOrDefault().Image" alt="" class="second-image">
            </div>

        </div>
    </div>
</section>

<section id="services">
    <div class="container-main">
        <div class="row">
            @foreach (var item in Model.Services.Skip(6).Take(3))
            {
                <div class="col-md-4">
                    <div class="service-cart">
                        <img src="~/images/@item.IconImage" alt="">
                        <div class="description">
                            <h5>@item.Title</h5>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="history">
    <div class="container-main">
        <div class="row">
            <div class="col-md-5 main-image">
                <img src="~/images/@Model.History.Image" alt="">
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <p class="experience">@Model.History.UpTitle</p>
                            <p class="title-desc">@Model.History.MainTitle</p>
                        </div>
                        <p>@Model.History.Description</p>
                        <div class="signature">
                            <img src="~/images/About/signature.svg" alt="">
                            <div class="name-about">
                                <div class="position">Barber, Founder</div>
                                <div class="name">Muhiddin abi</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="barber-services">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>What we're offering</p>
                    <h1>Barber Services</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.BarberServices.OrderBy(m => m.Id))
            {
                <div class="col-md-4">
                    <div class="cart">
                        <div class="cart-image">
                            <img src="~/images/@item.ServiceImage" alt="">
                        </div>
                        <div class="content">
                            <div class="icon">
                                <img src="~/images/@item.IconImage" alt="">
                            </div>
                            <h5>@item.ServiceName</h5>
                            <div class="line"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="subcontent">@item.ServiceDescription</div>
                                    <h6>$@item.Price</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="background-image" style="background-image: url('/images/background-image.jpg')">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-8 offset-md-2 text-center">
                <div class="content">
                    <div class="content-box">
                        <div class="owl-carousel owl-theme">
                            @foreach (var item in Model.Comments)
                            {
                                <div class="item">
                                    <span class="star-color">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                    <p>@item.CommentText</p>
                                    <div class="info">
                                        <div class="author-image"> <img src="~/images/Team/muhittin-abi.jpg" alt=""> </div>
                                        <div class="author-desc">
                                            <h6>@item.User.FullName</h6>
                                            <span>@item.Blogs.BlogTitle</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>First-class</p>
                    <h1>Our Features</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Features)
            {
                <div class="col-md-4">
                    <div class="cart">
                        <div class="cart-front" style="background-image: url('/images/@item.Image');">
                            <div class="front-content">
                                <div class="cart-title">
                                    <h4>@item.ServiceName</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="cart-back">
                            <div class="back-content ">
                                <h4>@item.ServiceName</h4>
                                <p><i>@item.Description</i></p> <a href="#0" class="appointment mt-15">Appointment<span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="video" style="background-image: url('/images/background-image-video.jpg');">
    <div class="container-main">
        <div class="row justify-content-center">
            <div class="cover"></div>
            <div class="col-md-6">
                <div class="title">
                    <p>Watch Our Barbershop Promo Video</p>
                </div>
            </div>
        </div>
        <div class="manual">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="video" target="_blank" href="https://www.youtube.com/shorts/fzRdzWEHwTg">
                        <div class="video-button">
                            <span class="icon">
                                <i class="fa-solid fa-play"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>Pricing Plan</p>
                    <h1>Barber Pricing</h1>
                </div>
            </div>
            @foreach (var item in Model.BarberPricings.OrderBy(m => m.Id).Take(8))
            {
                <div class="col-md-6">
                    <div class="price-list">
                        <div class="item">
                            <div class="headline">
                                <div class="title">@item.ServiceName</div>
                                <div class="dots"></div>
                                <div class="price">$@item.Price</div>
                            </div>
                            <p><i>@item.Description</i></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="team">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>Our Barbers</p>
                    <h1>Hair Stylists</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.Employees)
                    {
                        <div class="team-card">
                            <div class="team-image"><img src="~/images/@item.BarberImage"></div>
                            <div class="team-content">
                                <h3 class="team-title">@item.BarberName<span>@item.Position.Name</span></h3>
                                <p class="team-text">@item.Description</p>
                                <div class="social">
                                    <div class="network"> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a> <a href="#"><i class="fa-brands fa-facebook-f"></i></a> <a href="#"><i class="fa-brands fa-x-twitter"></i></a> <a href="#"><i class="fa-brands fa-instagram"></i></a> </div>
                                </div> <a asp-controller="TeamDetail" asp-action="Index" asp-route-id="@item.Id" class="team-button">Team Details<span></span></a>
                            </div>
                            <div class="name-box">
                                <h3>@item.BarberName<span>@item.Position.Name</span></h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="offering">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>Our Services</p>
                    <h1>We Also Offer</h1>
                </div>
            </div>
            @foreach (var item in Model.Services.OrderBy(m => m.Id).Skip(3).Take(6))
            {
                <div class="col-md-4">
                    <div class="cart">
                        <a asp-controller="ServiceDetail" asp-action="Index" asp-route-id="@item.Id">
                            <div class="image">
                                <img src="~/images/@item.IconImage" alt="">
                            </div>
                            <h5>@item.Title</h5>
                            <p>@item.Description</p>
                            <div class="shape">
                                <div class="image">
                                    <img src="~/images/@item.IconImage" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="news">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="section-head text-center">
                    <div class="title">
                        <p>Latest News</p>
                        <h1>News & Blog</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="cart">
                            <div class="cart-bottom">
                                <img src="~/images/@item.BlogImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                <div class="date">
                                    <a>
                                        <span>@item.CreatedDate.ToString("MMM")</span>
                                        <i>@item.CreatedDate.ToString("dd")</i>
                                    </a>
                                </div>
                            </div>
                            <div class="cart-content">
                                <span class="category">
                                    <a>@item.Service.Title</a>
                                </span>
                                <h5>
                                    <a asp-controller="BlogPost" asp-action="Index" asp-route-id="@item.Id">@item.BlogTitle</a>
                                </h5>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="appointment" style="background-image: url('/images/AppointmentImage.jpg');">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-5 left-side">
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
                <h5>@Model.Appointment.Title</h5>
                <div class="reservation">
                    <div class="icon">
                        <img src="~/images/@Model.Appointment.IconImage" alt="">
                    </div>
                    <div class="text">
                        <p>Appointment</p>
                        <a>@Model.Settings["Phone"]</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-2">
                <div class="booking-box">
                    <div class="booking-box-title">
                        <h1>Make An Appointment</h1>
                    </div>
                    <div class="booking-area">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-area">
                                        <input value="@Model.UserData.FullName" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-area">
                                        <input type="text" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="date-input-area">
                                        <input type="date" placeholder="Date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="select-area">
                                        <select name="" id="">
                                            <option value="">Time</option>
                                            <option value="">10:00 am</option>
                                            <option value="">11:00 am</option>
                                            <option value="">12:00 am</option>
                                            <option value="">14:00 am</option>
                                            <option value="">15:00 am</option>
                                            <option value="">16:00 am</option>
                                            <option value="">17:00 am</option>
                                            <option value="">18:00 am</option>
                                            <option value="">19:00 am</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="select-area">
                                        <select asp-for="ServiceId" asp-items="@ViewBag.serviceList">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="select-area">
                                        <select asp-for="EmployeeId" asp-items="@ViewBag.employeeList">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="make-appoint">
                                        Make appointment
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="colleagues">
    <div class="container-main">
        <div class="row">
            <div class="col-md-7">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.Colleagues)
                    {
                        <div class="clients-logo">
                            <a><img src="~/images/@item.Image" alt=""></a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>






