@model ServiceDetailPageVM

@{
    ViewData["Title"] = Model.Service.Title;
}



@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/sass/pages/services-page/services-page.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
}



@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/services-page.js"></script>
}



<section id="banner-header" style="background-image: url('/images/@Model.Service.ServiceImages.FirstOrDefault().Image')">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-12 caption">
                <h5>Services Page</h5>
                <h1>Services</h1>
            </div>
        </div>
    </div>
</section>


<section id="pricing">
    <div class="container-main">
        <div class="row">
            <div class="col-md-7">
                @for (int i = 0; i < Model.Services.Count; i++)
                {
                    <div id="@Model.Services[i].Id" class="service-detail @(Model.Services[i].Id == Model.Id ? "" : "d-none")">
                        <div class="title">
                            <h5>Services</h5>
                            <h2>@Model.Services[i].Title</h2>
                        </div>
                        <p>@Model.Services[i].Content</p>
                        <div class="list-service">
                            @foreach (var subitem in Model.Services[i].SubServices)
                            {
                                <div class="item">
                                    <div class="content">
                                        <h5>@subitem.ServiceName</h5>
                                        <div class="dots"></div>
                                        <div class="price">$@subitem.ServicePrice</div>
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="row">
                            @foreach (var image in Model.Services[i].ServiceImages)
                            {
                                <div class="col-md-4 image">
                                    <a href="~/images/@image.Image" class="img-zoom">
                                        <div class="box">
                                            <div class="box-image">
                                                <img src="~/images/@image.Image" alt="">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4 offset-md-1">
                <aside class="sidebar">
                    <div class="sidebar-services">
                        <div class="inner">
                            <div class="title">
                                <h4>All Services</h4>
                            </div>
                            <ul id="service-list">
                                @for (int i = 0; i < Model.Services.Count; i++)
                                {
                                    <li class="@(Model.Services[i].Id == Model.Id ? "active" :"")">
                                        <a href="#@Model.Services[i].Id">@Model.Services[i].Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
