@model ServicePageVM

@{
    ViewData["Title"] = "Services";
}

@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/sass/pages/services/services.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
}



@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/services.js"></script>
}



<section id="banner-header" style="background-image: url('/images/Services/1.jpg')">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-12 caption">
                <h5>What we do</h5>
                <h1>Our Services</h1>
            </div>
        </div>
    </div>
</section>

<section id="offering">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>Our Services</p>
                    <h1>We Also Offer</h1>
                </div>
            </div>
            @foreach (var item in Model.Services.OrderBy(m => m.Id).Skip(3).Take(9))
            {
                <div class="col-md-4">
                    <div class="cart">
                        <a asp-controller="ServiceDetail" asp-action="Index" asp-route-id="@item.Id">
                            <div class="image">
                                <img src="~/images/@item.IconImage" alt="">
                            </div>
                            <h5>@item.Title</h5>
                            <p>@item.Description</p>
                            <div class="shape">
                                <div class="image">
                                    <img src="~/images/@item.IconImage" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="features">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>First-class</p>
                    <h1>Our Features</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Features)
            {
                <div class="col-md-4">
                    <div class="cart">
                        <div class="cart-front" style="background-image: url('/images/@item.Image');">
                            <div class="front-content">
                                <div class="cart-title">
                                    <h4>@item.ServiceName</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="cart-back">
                            <div class="back-content ">
                                <h4>@item.ServiceName</h4>
                                <p><i>@item.Description</i></p> <a href="#0" class="appointment mt-15">Appointment<span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="appointment" style="background-image: url('/images/AppointmentImage.jpg');">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-5 left-side">
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </p>
                <h5>@Model.Appointment.Title</h5>
                <div class="reservation">
                    <div class="icon">
                        <img src="~/images/@Model.Appointment.IconImage" alt="">
                    </div>
                    <div class="text">
                        <p>Appointment</p>
                        <a>855 100 4444</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-2">
                <div class="booking-box">
                    <div class="booking-box-title">
                        <h1>Make An Appointment</h1>
                    </div>
                    <div class="booking-area">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-area">
                                        <input type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-area">
                                        <input type="text" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="date-input-area">
                                        <input type="date" placeholder="Date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="select-area">
                                        <select name="" id="">
                                            <option value="">Time</option>
                                            <option value="">10:00 am</option>
                                            <option value="">11:00 am</option>
                                            <option value="">12:00 am</option>
                                            <option value="">14:00 am</option>
                                            <option value="">16:00 am</option>
                                            <option value="">18:00 am</option>
                                            <option value="">20:00 am</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="select-area">
                                        <select asp-for="ServiceId" asp-items="@ViewBag.serviceList">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="select-area">
                                        <select asp-for="EmployeeId" asp-items="@ViewBag.employeeList">

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="make-appoint">
                                        Make appointment
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


