@model FooterVM


<footer class="footer">
    <div class="footer-up">
        <div class="container-main">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-column">
                        <h3>Contact</h3>
                        <div class="text">
                            <p>
                                @Model.Settings["Address"]
                            </p>
                        </div>
                        <div class="info">
                            <p class="phone">@Model.Settings["Phone"]</p>
                            <p class="email">@Model.Settings["Email"]</p>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1">
                    <div class="work-time">
                        <h3>Work time</h3>
                        <ul>
                            @foreach (var item in Model.WorkTimes.OrderBy(m=>m.Id))
                            {
                                <li>
                                    <div class="days">@item.WorkDay</div>
                                    <div class="dots"></div>
                                    <span>@item.WorkHour</span>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 offset-md-1">
                    <div class="subscribe">
                        <h3>Subscribe</h3>
                        <div class="content">
                            <div class="col-md-12">
                                <p>Subscribe to take advantage of our campaigns and gift certificates.</p>
                                <form>
                                    <input type="email" class="subscribe-input" placeholder="Your email" autocomplete="off">
                                    <button type="submit" class="subscriber">Subscribe now</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-main">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <p>2024 © All rights reserved by Agshin Valiyev</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>