@model BlogPageVM

@{
    ViewData["Title"] = "Blog";
}


@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/sass/pages/Blog/blog.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
}



@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}




<section id="banner-header" style="background-image: url('/images/Blog/bannerimage.jpg')">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-12 caption">
                <h5>Our Blog</h5>
                <h1>Latest News</h1>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container-main">
        <div class="row">
            @if (Model.Pagination.Datas.Count == 0)
            {
                <div class="alert alert-info text-center w-100" role="alert">
                    There is currently no Blog available
                </div>
            }
            else
            {
                @foreach (var item in Model.Pagination.Datas)
                {
                    <div class="col-md-12">
                        <div class="service" style="margin-top:100px">
                            <div class="row">
                                <div class="col-12">
                                    <div class="image">
                                        <img src="~/images/@item.BlogImages.FirstOrDefault(m=>m.IsMain).Image" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="content">
                                        <h3>@item.Service.Title</h3>
                                        <h4>@item.BlogTitle</h4>
                                        <p>@item.Content</p>
                                        <hr class="line">
                                        <div class="info">
                                            <div class="read-more">
                                                <a asp-controller="BlogPost" asp-action="Index" asp-route-id="@item.Id" class="btn">Read more</a>
                                            </div>
                                            <i class="icon ti-calendar">@item.CreatedDate.ToString("dd/MM/yyyy")</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-12">
                    <div class="pagination">
                        <ul>
                            <li class="page-item @(Model.Pagination.HasPrevious ? "" : "disabled")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage - 1)"><i class="ti-angle-left"></i></a>
                            </li>

                            @for (int i = 1; i <= Model.Pagination.TotalPage; i++)
                            {
                                <li class="page-item @(i == Model.Pagination.CurrentPage ? "disabled" : "")"><a class="page-link @(i == Model.Pagination.CurrentPage ? "active" : "")" asp-action="Index" asp-route-page="@i">@i</a></li>
                            }

                            <li class="page-item  @(Model.Pagination.HasNext ? "" : "disabled")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Pagination.CurrentPage + 1)"><i class="ti-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

