@model AboutPageVM

@{
    ViewData["Title"] = "About";
}



@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/sass/pages/about/about.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
}



@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/about.js"></script>
}



<section id="banner-header" style="background-image: url('/images/About/header-banner.jpg')">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-12 caption">
                <h5>About Us</h5>
                <h1>Our History</h1>
            </div>
        </div>
    </div>
</section>




<section id="about">
    <div class="container-main">
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <h6>Since 2006</h6>
                    <h3>@Model.About.Title</h3>
                </div>
                <p>@Model.About.Description</p>
                <ul class="list-about list-unstyled">
                    <li>
                        <div class="list-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <div class="list-text">
                            <p>@Model.About.Pro1</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <div class="list-text">
                            <p>@Model.About.Pro2</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <div class="list-text">
                            <p>@Model.About.Pro3</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="~/images/@Model.About.AboutImages.FirstOrDefault().Image" alt="" class="first-image">
            </div>
            <div class="col-md-3">
                <img src="~/images/@Model.About.AboutImages.Skip(1).Take(1).FirstOrDefault().Image" alt="" class="second-image">
            </div>

        </div>
    </div>
</section>

<section id="services">
    <div class="container-main">
        <div class="row">
            @foreach (var item in Model.Services.Skip(6).Take(3))
            {
                <div class="col-md-4">
                    <div class="service-cart">
                        <img src="~/images/@item.IconImage" alt="">
                        <div class="description">
                            <h5>@item.Title</h5>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section id="history">
    <div class="container-main">
        <div class="row">
            <div class="col-md-5 main-image">
                <img src="~/images/@Model.History.Image" alt="">
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <p class="experience">@Model.History.UpTitle</p>
                            <p class="title-desc">@Model.History.MainTitle</p>
                        </div>
                        <p>@Model.History.Description</p>
                        <div class="signature">
                            <img src="~/images/About/signature.svg" alt="">
                            <div class="name-about">
                                <div class="position">Barber, Founder</div>
                                <div class="name">Muhiddin abi</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="video" style="background-image: url('/images/background-image-video.jpg');">
    <div class="container-main">
        <div class="row justify-content-center">
            <div class="cover"></div>
            <div class="col-md-6">
                <div class="title">
                    <p>Watch Our Barbershop Promo Video</p>
                </div>
            </div>
        </div>
        <div class="manual">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="video" target="_blank" href="https://www.youtube.com/shorts/fzRdzWEHwTg">
                        <div class="video-button">
                            <span class="icon">
                                <i class="fa-solid fa-play"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team">
    <div class="container-main">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <p>Our Barbers</p>
                    <h1>Hair Stylists</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    @foreach (var item in Model.Employees)
                    {
                        <div class="team-card">
                            <div class="team-image"><img src="~/images/@item.BarberImage"></div>
                            <div class="team-content">
                                <h3 class="team-title">@item.BarberName<span>@item.Position.Name</span></h3>
                                <p class="team-text">@item.Description</p>
                                <div class="social">
                                    <div class="network"> <a href="#"><i class="fa-brands fa-linkedin-in"></i></a> <a href="#"><i class="fa-brands fa-facebook-f"></i></a> <a href="#"><i class="fa-brands fa-x-twitter"></i></a> <a href="#"><i class="fa-brands fa-instagram"></i></a> </div>
                                </div> <a asp-controller="TeamDetail" asp-action="Index" asp-route-id="@item.Id" class="team-button">Team Details<span></span></a>
                            </div>
                            <div class="name-box">
                                <h3>@item.BarberName<span>@item.Position.Name</span></h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
